[submodule "Mortgage-Planner-Backend"]
	path = Mortgage-Planner-Backend
	url = git@github.com:sebastianpenttinen/Mortgage-Planner-Backend.git
[submodule "Mortage-Planner-FrontEnd"]
	path = Mortgage-Planner-FrontEnd
	url = git@github.com:sebastianpenttinen/Mortgage-Planner-FrontEnd.git
[submodule "Mortgage-Planner-FrontEnd"]
	path = Mortgage-Planner-FrontEnd
	url = git@github.com:sebastianpenttinen/Mortgage-Planner-FrontEnd.git
